<div class="arrow--wrapper">
  <svg width="20px" height="13px" viewBox="0 0 20 13" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <desc>Created with Lunacy</desc>
    <path d="M0 5.67929L0 7.32071L17.337 7.32071L13.5229 11.8346L14.5076 13L20 6.5L14.5076 0L13.5229 1.1654L17.337 5.67929L0 5.67929Z" id="Path" fill="#FFFFFF" stroke="none" />
  </svg>
</div>
    