<div class="tabs-description--wrapper">
  <ul class="tabs">
    <li><a class="active" href="#benefits">Benefits</a></li>
    <li><a href="#ingredients">Ingredients</a></li>
    <li><a href="#howtouse">How to use</a></li>
    <li><a href="#shipping">Shipping</a></li>
  </ul>
  <ul class="tabs-content">
    <li class="active" id="benefits">
      <p>
        Go Condition helps optimize health and vitality by concentrating and delivering the most active polyphenois called <strong>Flavonoids.</strong>
      </p>
      <p>
        This patented product helps maintain healthy immune, congnitive, and physical performance and supports faster recovery.
      </p>
    </li>
    <li id="ingredients">
      <p>Ingredients description goes here</p>
    </li>
    <li id="howtouse">
      <p>The how to use description goes here</p>
    </li>
    <li id="shipping">
      <p>Shipping description goes here</p>
    </li>
  </ul>
</div>